## Session 2

### Strings

In [1]:
# Creating a String

# single word

string = "hello"
string

'hello'

In [2]:
# entire phrase

'this is also a string'

'this is also a string'

In [3]:
# double quotes can also be used

"string can be constructed using double quotes"

'string can be constructed using double quotes'

In [4]:
# use single or double quotes within double or single quotes

"I'm am a good girl"
'this is a "great" tutorial'

'this is a "great" tutorial'

## Printing a string

In [5]:
# we can simply declare a string

'Hello World'

'Hello World'

In [6]:
# in python 3, print is a function..hence requires parenthese to be included 
# but this is not the case with python 2

In [7]:
# we can use print() functionality in python 2 by importing the future module

### String Basics

In [8]:
# length of a string can be found by the built-in function 'len()'

In [9]:
len("Hello World")

11

### String Indexing

In [10]:
# indexing in python is zero-based. in order to access a particular character at a 
# given index, we need to use '[]'.

In [31]:
# consider
s = "Hello World"

In [32]:
print(s)

Hello World

In [33]:
# to access the first character
s[0]

'H'

In [34]:
# to access the last character
s[-1]

'd'

In [35]:
# grab everything past the first element till the end of the string
s[1:]

'ello World'

In [36]:
# Grab everything upto 3rd index
s[:3]

'Hel'

In [37]:
# Grab everything
s[:]

'Hello World'

In [38]:
# grab everything but the last letter
s[:-1]

'Hello Worl'

In [39]:
# grab everything with a step size of 1
s[::1]

'Hello World'

In [40]:
# consider step size 2
s[::2]

'HloWrd'

In [41]:
# reverse the string
s[::-1]

'dlroW olleH'

### String Properties

In [42]:
s

'Hello World'

In [43]:
# this indicates error, because strings in python are immutable
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [45]:
# but strings can be concatenated

s + " concatenate me!"

'Hello World concatenate me!'

In [46]:
# string repitition
letter = 'z'

In [47]:
letter * 10

'zzzzzzzzzz'

### Basic Built-in String methods

In [48]:
# to convert to upper case
s.upper()

'HELLO WORLD'

In [49]:
s.lower()

'hello world'

In [51]:
#split() method returns a list of words present in the string
s.split()

['Hello', 'World']

In [52]:
s.split('o')

['Hell', ' W', 'rld']

### Print Formatting

In [53]:
# using .format method
'Insert another string with curly braces {}'.format({'this is the formatted string'})

"Insert another string with curly braces {'this is the formatted string'}"

### Location and counting

In [54]:
print(s)

Hello World

In [55]:
# returns the count of 'o'
s.count('o')

2

In [56]:
# returns the index of 'o'
s.find('o')

4

In [57]:
# to format and place the string in the center, we can use .center method
s.center(30, 'z')

'zzzzzzzzzHello Worldzzzzzzzzzz'

In [58]:
#to convert tab notations into spaces
'hello\tWorld'.expandtabs()

'hello   World'

### is check methods

In [59]:
s = 'hello'

In [60]:
# to check whether the string is alphanumeric
s.isalnum()

True

In [61]:
# to check if the string is in lowercase
s.islower()

True

In [62]:
# to check if the string is in titlecase
s.istitle()

False

In [63]:
# to check if the string is in uppercase
s.endswith('o')

True

### built-in Reg Expression

In [64]:
s.split('e')

['h', 'llo']

In [65]:
s.partition('e')

('h', 'e', 'llo')

## Lists

In [66]:
# lists are constructed using []
lst = [1,2,3]

# lists can hold heterogenous objects
lst = ['Nethra', 1, 1.2, [1,2,3]]

In [67]:
# number of elements in the list can be found using len() function
len(lst)

4

### Indexing and slicing

In [68]:
# grab first element in the string
lst[0]

'Nethra'

In [69]:
# grab index 1 and everything past it
lst[1:]

[1, 1.2, [1, 2, 3]]

In [70]:
# grab everything upto 3rd index
lst[:3]

['Nethra', 1, 1.2]

In [71]:
# use '+' to concatenate two strings
lst + ['new item']

['Nethra', 1, 1.2, [1, 2, 3], 'new item']

In [72]:
lst

['Nethra', 1, 1.2, [1, 2, 3]]

In [74]:
# reassign to perform list updation permanently
lst1 = lst + ['new item1']
lst1

['Nethra', 1, 1.2, [1, 2, 3], 'new item1']

In [75]:
# we can have list repitition as well but this is not permanent
lst * 2

['Nethra', 1, 1.2, [1, 2, 3], 'Nethra', 1, 1.2, [1, 2, 3]]

## Basic List Methods

In [76]:
l = [1,2,3]

In [77]:
# append at the end using append() method
l.append(4)

In [78]:
l

[1, 2, 3, 4]

In [79]:
# pop element at zeroth index
l.pop(0)

1

In [80]:
assign_popped_element = l.pop(1)

In [81]:
assign_popped_element

3

In [82]:
#l is now changed
l

[2, 4]

In [83]:
# this gives index out of range error
l[100]

IndexError: list index out of range

In [93]:
# sorting a list
l = ['a','z','y','b','x','c']
l.sort()
l

['a', 'b', 'c', 'x', 'y', 'z']

In [94]:
# reverse the list
l.reverse()
l

['z', 'y', 'x', 'c', 'b', 'a']

## Nesting Lists

In [96]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst3 = [7,8,9]
lst = [lst1,lst2,lst3]
lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [97]:
# to grab the first item in the list
lst[0]

[1, 2, 3]

In [99]:
# to grab the second element in the third item of the lisst
lst[2][2]

9

## List comprehension

In [100]:
first_col = [row[2] for row in lst]

In [101]:
first_col

[3, 6, 9]

## Advanced Lists

### append method

In [111]:
l.append(5)
l

['z', 'y', 'x', 'c', 'b', 'a', 5]

In [112]:
# count() the number of given element
l.count(5)

1

In [113]:
# extend() method is used to extend the list by appending from the iterable
x = [1,2,3]
x.extend([4,5])
x

[1, 2, 3, 4, 5]

In [114]:
# index() returns the element present at the given arguement
l.index(5)

6

In [115]:
# insert() method is used to insert the given element at the given index
l.insert(2,'new item')

In [116]:
l

['z', 'y', 'new item', 'x', 'c', 'b', 'a', 5]

In [117]:
# pop() method is used to pop off the last element in the list
ele = l.pop()

In [118]:
ele

5

In [119]:
# remove() method is used to remove the first occurance of the value
l.remove('new item')

In [120]:
l

['z', 'y', 'x', 'c', 'b', 'a']

In [121]:
# reverse() method is used to reverse the list and sort() method is used to sort the list in ascending order
l.reverse()

In [122]:
l

['a', 'b', 'c', 'x', 'y', 'z']

In [123]:
lst = [10,9,8,7,6,5]
lst.sort()
lst

[5, 6, 7, 8, 9, 10]